.main-dashboard{
  margin-top: 20px;
  margin-left: 195px;
  margin-right: 80px;

  .home-message{
    font-size: 46px;
    font-weight: 500;
    margin-bottom: 10px;

    .firstname{
      color: var(--red-color );
    }
  }

  .congratulations{
    margin-bottom: 40px;
    font-size: 18px;
  }

  .container{
    display: flex;
    width: 100%;
    justify-content: space-between;

    .graphs{ 
      width: 73%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 28px;
      column-gap: 28px;

      article{
        border-radius: 5px;
        height: 29vh;
      }

      .chart-activity{
        grid-column: 1 / -1;
        height: 36vh;
      }
    }

    .cards-keydata{
      width: 23%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 1400px){
  .main-dashboard{
    margin-left: 155px;
    margin-right: 40px;
  
    .home-message{
      font-size: 38px;
    } 
    .congratulations{
      margin-bottom: 30px;
      font-size: 14px;
    }  
    .container {
      .graphs{
        column-gap: 20px;
        width: 74%;
      }
      .cards-keydata{
        width: 24%;
      }

    }
  }
}