.chart-activity{
  background-color: var(--grey-bg);
  position: relative;
  
  .title-activity-chart{
    position: absolute;
    font-size: 15px;
    font-weight: 500;
    padding: 24px 0 0 32px;
  }
  
  //remonte et écarte les légente
  .recharts-default-legend li {
    margin: 24px 0 40px 10px;
    font-size: 14px;
  }
  
  Les points et le texte de la légende sont plus écarté
  .recharts-legend-item span{
    margin-left: 8px;
  }

  .recharts-legend-item-text{
    color: #74798C !important;
    font-weight: 500;
  }
  
  .tooltip-activity{
    background-color: #E60000;
    color: white;
    font-size: 10px;
    font-weight: 500;
    padding: 4px 7px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    line-height: 24px;
  }
}
