.title-activity-chart{
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 30px;
}

.recharts-cartesian-axis-tick-value tspan{
  margin-top: 15px;
}

.recharts-default-legend li {
  margin-bottom: 30px;
}