.chart-perf{
  background-color: var(--hard-grey);
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1400px){
  .chart-perf .recharts-text {
    font-size: 10px;
  }

  .chart-perf .recharts-responsive-container {
    height: 70% !important; 
  }
  
}