.error-page{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 90px;
    margin-top: 70px;
    margin-bottom: 70px;

    .error-ping{
        font-size: 140px;
        font-weight: 700;
        margin-bottom: 30px;

        @media (max-width: 850px) {
            font-size: 80px;
        }
    }

    .error-text{
        font-size: 30px;
        font-weight: 500;

        @media (max-width: 850px) {
            font-size: 16px;
            margin: 0 50px;
        }
    }

    .home-link{
        font-size: 18px;

        @media (max-width: 850px) {
            font-size: 14px;
        }
    }

    @media (max-width: 850px) {
        gap: 60px;
    }
}